<!DOCTYPE HTML>
<html>
<head>
  <title> {% block title %} A Study Space {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .home {
    
    }
    .heading{
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/NYU%27s_Bobst_library-2.jpg/360px-NYU%27s_Bobst_library-2.jpg')
      background-repeat: no-repeat;
      -ms-background-size: cover;
    }
  </style>
  {% block head %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <nav class="blue">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">A Study Space</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login"> Login </a></li>
        <li><a href="/register"> Register </a></li>
      </ul>
    </div>
  </nav>

  {% block body %}
  {% endblock %}
</body>

<footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% block footer %}
  {% endblock %}
</footer>

</html>
