{% extends "base.html" %}

{% block head %}
<style>
  .card-image {
    height: 175px;
    overflow: hidden;
  }
</style>
{% endblock %}

{% block body %}

<div class="home">
  <br>
  <br>
  <div class="heading" style="color: black">
    <center>
      <div class="row">

        <h2> Looking for the best studying solution? </h2>

      </div>
    </center>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <center>
            <img src="static/logo.PNG">
            <h4>Made for NYU Students</h4><br />
          </center>
        </div>

      </div>
      </hr>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l4">
          <div class="card">
            <div class="card-image">
              <img src="static/studygroup.jpg">
              <span class="card-title">Find a Buddy</span>
            </div>
            <div class="card-content">
              <p>Look for a study partner based on similarities (i.e. classes, topics, etc).</p>
            </div>
            <div class="card-action">
              <a href="#findabuddy">Learn more.</a>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card">
            <div class="card-image">
              <img src="static/library.jpg">
              <span class="card-title">Find a Study Spot</span>
            </div>
            <div class="card-content">
              <p>Search for the perfect location to study at the NYU library.</p>
            </div>
            <div class="card-action">
              <a href="#findastudyspot">Learn more.</a>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card">
            <div class="card-image">
              <img src="static/officesupplies.jpg">
              <span class="card-title">Study Tools</span>
            </div>
            <div class="card-content">
              <p>A study buddy group messaging system and a real-time whiteboard.</p>
            </div>
            <div class="card-action">
              <a href="#studytools">Learn more.</a>
            </div>
          </div>
        </div>
        <div class="col s12 m9 l10">
          <div id="findabuddy" class="section scrollspy">
            <h1> Find a Buddy </h1>
            <h5> It's a struggle to find the people who want to study the same thing as you. We have made it so that you can easily connect with the use of tags. Tag everything you want to study about with your new buddy and the search will filter so you can find people with the same same study goals. </h5>
          </div>

          <div id="findastudyspot" class="section scrollspy">
            <h1> Find a Study Spot </h1>
            <h5> Whether you're a freshman or a well-versed senior, this study spot finder will help you find the perfect places to study. Using the optional filters, you can find a specific area on your favorite floor or a the specific type of workspace you were looking for. If you're still new to the library, you can search without the use of filters to get a list of some new study spots discover</h5>
          </div>

          <div id="studytools" class="section scrollspy">
            <h1> Study Tools </h1>
            <h5> Now that you've found the right group of students, this website allows for the use of direct message for the ease of communication outside of the study rooms. </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
