{% extends "base.html" %}

{% block body %}

<div class = container>
  <br>
  <br>
  <div class = "row">
    <div class = "col s12">
      <h1> Learn about Amazing ways to be more amazing!!!!!!! </h1>
    </div>
  </div>
  <div class = "row">
    <h4> Some descrption about the entire thing and how it actually works. And we actually finished? When is this project going to be over??????</h4>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
        <span class="card-title">Find a Buddy</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#findabuddy">Find out more</a>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
        <span class="card-title">Find a Study Space</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#findastudyspace">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
        <span class="card-title">Study Tools</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#studytools">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m9 l10">
      <div id="findabuddy" class="section scrollspy">
        <h1> Content </h1>
        <p> </p>
      </div>

      <div id="findastudyspace" class="section scrollspy">
        <h1> Content </h1>
        <p>Content </p>
      </div>

      <div id="studytools" class="section scrollspy">
        <h1> Content </h1>
        <p>Content </p>
      </div>
    </div>
</div>
</div>

{% endblock %}
