{% extends "base.html" %}

{% block body %}

{% set msgs = get_flashed_messages() %}
{% for each in msgs %}

<center>
{{each}}
</center>

{% endfor %}

<div class = "container">
<div class = "row">
  <center>
  <h4>Register</h4>
  </center>
<div>
  <form class = "col s12" method="POST" action="/auth">
    <div class = "row">
      <div class="input-field col s6 offset-s3">
        <input id="display_name" type="text" class="validate">
        <label for="display_name">Display Name</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
      <div class="input-field col s6 offset-s3">
        <input id="usr_name" type="text" class="validate">
        <label for="usr_name">Username</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
      <div class="input-field col s6 offset-s3">
        <input id="password" type="text" class="validate">
        <label for="password">Password</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
      <div class="input-field col s6 offset-s3">
        <input id="check_password" type="text" class="validate">
        <label for="check_password">Retype Password</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
    </div>
    <div class="chips chips-initial input-field">
      <input class="custom-class" id= "skills">
    </div>
  </form>
  <button class="btn waves-effect waves-light" type = "submit" name = "register"> Register </button>
  <a role="button" class="btn btn-light" href="/">Back</a>
</div>

{% endblock %}
