{% extends "base.html" %}

{% block body %}

{% set msgs = get_flashed_messages() %}
{% for each in msgs %}

<center>
{{each}}
</center>

{% endfor %}

<div class = "container">
<div class = "row">
  <center>
  <h4>Register</h4>
  </center>
</div>
  <form id="form" class = "col s12" method="POST" action="/register">
    <div class = "row">
      <div class="input-field col s6 offset-s3">
        <input id="displayname" type="text" class="validate" name="displayname" required>
        <label for="displayname">Display Name</label>
        <span class="helper-text" data-error="" data-success=""></span>
      </div>
      <div class="input-field col s6 offset-s3">
        <input id="username" type="text" class="validate" name="username" required>
        <label for="username">Username</label>
        <span class="helper-text" data-error="" data-success=""></span>
      </div>
      <div class="input-field col s6 offset-s3">
        <input id="password" type="password" class="validate" name="password" required>
        <label for="password">Password</label>
        <span class="helper-text" data-error="" data-success=""></span>
      </div>
      <div class="input-field col s6 offset-s3">
        <input id="check_password" type="password" class="" oninput="checkMatching(this)">
        <label for="check_password">Retype Password</label>
        <span class="helper-text" data-error="Passwords do not match" data-success=""></span>
      </div>
      <div class = "col s6 offset-s3">
        <div class="chips chips-placeholder">
          <input class= "input" placeholder= "Enter"> </input>
        </div>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type = "submit" name = "register"> Register </button>
    <a role="button" class="btn btn-light" href="/">Back</a>
  </form>
</div>

{% endblock %}

{% block footer %}
<script src="static/register.js"></script>
{% endblock %}
