{% extends "dashboard.html" %}
{% block content %}

{% set msgs = get_flashed_messages() %}
<br>
{% for each in msgs %}
<div class = "col s6 center">
<div class="chip">
  {{each}}
    <i class="close material-icons">close</i>
</div>
</div>

{% endfor %}

<div class="container">
    <form id="form" class="col s12" method="POST" action="/settings">
        <div class="row">
            <div class = "col s6 offset-s3 center">
              <h3>Settings</h3>
            </div>
            <div class = "col s10 offset-s1 center">
              <h6>Change your display name, password and/or your entire list of tags</h6>
            </div>
            <div class="input-field col s6 offset-s3">
                <input id="displayname" type="text" class="validate" data-length="32" name="displayname">
                <label for="displayname">Enter New Display Name</label>
            </div>
            <div class="input-field col s6 offset-s3">
                <input id="password" type="password" class="validate" data-length="32" name="password">
                <label for="password">Enter New Password</label>
            </div>
            <div class="col s6 offset-s3">
                <div class="chips chips-placeholder">
                    <input class="input" placeholder="Enter new tags"> </input>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Update</button>
    </form>
</div>
{% endblock %}
{% block footer %}
<script src="static/settings.js"></script>
{% endblock %}
