{% extends "dashboard.html" %}
{%block title%}
{%endblock%}
{% block content %}
    <canvas id="whiteboard">

    </canvas>

    <div class="col-sm-12 col-md-4" style="word-wrap: break-word;">
      <h5 style="text-align:center">Chat</h5>
      <ul style="list-style: none; padding-left: 0;" id="chatlog">
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
      </ul>
      <input class="form-control" type="text" id="msgtosend"></input>
    </div>



{% endblock %}