{% extends "dashboard.html" %}
{%block title%}

{%endblock%}
{% block content %}
    <div class="container">
		<div class="row">
            <center><h3> Find Rooms at the NYU Library</h3></center>
            <br/>
             <form class = "col s12" method="POST" action="/findstudyspace">
             <input name="floor" id="floor" type="text">
             <label for="floor">Floor Number (LL1, LL2, 1-9) (optional)</label>
             <input name="location" id="location" type="text">
            <label for="location">Location (North, South, East, West, Center) (optional)</label>
            <input name="space" id="space" type="text">
            <label for="space">Name of the Space (optional)</label>
            <input name="status" id="status" type="text">
            <label for="status">Status (NYU Students, NYU Graduate Students, All, Staff) (optional)</label>
            <input name="reservable" id="reservable" type="text">
            <label for="reservable">Reservable (Yes, No) (optional)</label>
            <input name="zone" id="zone" type="text">
            <label for="zone">Zone Description (Silent Study, Collaborative Study) (optional)</label> <br/><br/>
            <center>
              <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">search</i></button>
            </center>
            </form>
        </div>
    </div>
{% endblock %}
