{% extends "dashboard.html" %}
{%block title%}
{%endblock%}
{% block head %}
<link rel="stylesheet" href="static/studytools.css">
{% endblock %}
{% block content %}
<div class="container">
  <canvas id="whiteboard">

  </canvas>

  <div class="col-sm-12 col-md-4" style="word-wrap: break-word;">
    <ul id="chatBox" class="collection">
      <li class="collection-item">test1</li>
      <li class="collection-item">test2</li>
      <li class="collection-item">test3</li>
      <li class="collection-item">test4</li>
      <li class="collection-item">test1</li>
      <li class="collection-item">test2</li>
      <li class="collection-item">test3</li>
      <li class="collection-item">test4</li>
      <li class="collection-item">test1</li>
      <li class="collection-item">test2</li>
      <li class="collection-item">test3</li>
      <li class="collection-item">test4</li>
    </ul>
    <input class="form-control" type="text" id="msgtosend"></input>
  </div>
</div>



{% endblock %}

{% block footer %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<script src="static/studytools.js"></script>
{% endblock %}